@mixin pushBorder {
    // border: 1px solid black;
    border-radius: 40rem;
    height: 30rem;
    width: 30rem;
    background-color: rgb(197, 254, 251);
    box-shadow: 8px -2px 36px 1px rgba(0, 0, 0, 0.75) inset;
}

@mixin d-getFlex{
    display: flex;
    justify-content: space-between;
}

.navbar-text{
    margin-right: 4rem;

    .notification{
        width: fit-content;
        height: fit-content;
        background-color: rgb(110, 12, 12);
        color: white;
        border-radius: 3rem;
        padding: 0.4rem;
        position: absolute;
        font-size: small;
        top: 0;
        right: 3.4%;
    }
}

.article{
    &-1{
        @include d-getFlex;
        &--itemBubble {
            &-1 {
                @include pushBorder;
                &--itemUnique {
                    height: 40rem;
                    padding: 2rem;
                    // border: 1px solid red;
    
                    &--leurre {
                        height: 3rem;
                        width: 3rem;
                        background-color: rgb(255, 255, 255) !important;
                        position: absolute;
                        top: 19%;
                        left: 19%;
                        border-radius: 40rem;
                        transform: scale3d(1, 1, 1) rotateX(2deg) rotateY(-32deg) rotateZ(0deg) translate3d(0px, 0px, 0px) skew(-30deg, 0deg);
                    }
    
                    &--img {
                        height: 30%;
    
                        img {
                            object-fit: cover;
                            height: 100%;
                            width: 100%;
                        }
                    }
    
                    &--description {
                        height: 70%;

                        input[type="number"]{
                            width: 30%;
                        }

                        &--minus{
                            color: red;
                        }
                    }
                }
            }
    
            &-2 {
                @include pushBorder;
                &--itemUnique {
                    height: 40rem;
                    padding: 7rem;
                    // border: 1px solid red;
    
                    &--leurre {
                        height: 3rem;
                        width: 3rem;
                        background-color: rgb(255, 255, 255) !important;
                        position: absolute;
                        top: 19%;
                        right: 34.7%;
                        border-radius: 40rem;
                        transform: scale3d(1, 1, 1) rotateX(2deg) rotateY(-32deg) rotateZ(0deg) translate3d(0px, 0px, 0px) skew(-30deg, 0deg);
                    }
    
                    &--img {
                        height: 30%;
    
                        img {
                            object-fit: cover;
                            height: 100%;
                            width: 100%;
                        }
                    }
    
                    &--description {
                        height: 70%;

                        input[type="number"]{
                            width: 30%;
                        }

                        &--minus{
                            color: red;
                        }
                    }
                }
            }
        }
    }

    &-2{
        @include d-getFlex;
        &--itemBubble {
            &-1 {
                @include pushBorder;
                &--itemUnique {
                    height: 40rem;
                    padding: 7rem;
                    // border: 1px solid red;
    
                    &--leurre {
                        height: 3rem;
                        width: 3rem;
                        background-color: rgb(255, 255, 255) !important;
                        position: absolute;
                        top: 76%;
                        left: 19%;
                        border-radius: 40rem;
                        transform: scale3d(1, 1, 1) rotateX(2deg) rotateY(-32deg) rotateZ(0deg) translate3d(0px, 0px, 0px) skew(-30deg, 0deg);
                    }
    
                    &--img {
                        height: 30%;
    
                        img {
                            object-fit: cover;
                            height: 100%;
                            width: 100%;
                        }
                    }
    
                    &--description {
                        height: 70%;

                        input[type="number"]{
                            width: 30%;
                        }

                        &--minus{
                            color: red;
                        }
                    }
                }
            }
    
            &-2 {
                @include pushBorder;
                &--itemUnique {
                    height: 40rem;
                    padding: 7rem;
                    // border: 1px solid red;
    
                    &--leurre {
                        height: 3rem;
                        width: 3rem;
                        background-color: rgb(255, 255, 255) !important;
                        position: absolute;
                        top: 76%;
                        right: 34.7%;
                        border-radius: 40rem;
                        transform: scale3d(1, 1, 1) rotateX(2deg) rotateY(-32deg) rotateZ(0deg) translate3d(0px, 0px, 0px) skew(-30deg, 0deg);
                    }
    
                    &--img {
                        height: 30%;
    
                        img {
                            object-fit: cover;
                            height: 100%;
                            width: 100%;
                        }
                    }
    
                    &--description {
                        height: 70%;

                        input[type="number"]{
                            width: 30%;
                        }

                        &--minus{
                            color: red;
                        }
                    }
                }
            }
        }
    }

}