.navbar-text {
  margin-right: 4rem;
}
.navbar-text .notification {
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: rgb(110, 12, 12);
  color: white;
  border-radius: 3rem;
  padding: 0.4rem;
  position: absolute;
  font-size: small;
  top: 0;
  right: 3.4%;
}

.article-1 {
  display: flex;
  justify-content: space-between;
}
.article-1--itemBubble-1 {
  border-radius: 40rem;
  height: 30rem;
  width: 30rem;
  background-color: rgb(197, 254, 251);
  box-shadow: 8px -2px 36px 1px rgba(0, 0, 0, 0.75) inset;
}
.article-1--itemBubble-1--itemUnique {
  height: 40rem;
  padding: 7rem;
}
.article-1--itemBubble-1--itemUnique--leurre {
  height: 3rem;
  width: 3rem;
  background-color: rgb(255, 255, 255) !important;
  position: absolute;
  top: 19%;
  left: 19%;
  border-radius: 40rem;
  transform: scale3d(1, 1, 1) rotateX(2deg) rotateY(-32deg) rotateZ(0deg) translate3d(0px, 0px, 0px) skew(-30deg, 0deg);
}
.article-1--itemBubble-1--itemUnique--img {
  height: 30%;
}
.article-1--itemBubble-1--itemUnique--img img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}
.article-1--itemBubble-1--itemUnique--description {
  height: 70%;
}
.article-1--itemBubble-1--itemUnique--description input[type=number] {
  width: 30%;
}
.article-1--itemBubble-1--itemUnique--description--minus {
  color: red;
}
.article-1--itemBubble-2 {
  border-radius: 40rem;
  height: 30rem;
  width: 30rem;
  background-color: rgb(197, 254, 251);
  box-shadow: 8px -2px 36px 1px rgba(0, 0, 0, 0.75) inset;
}
.article-1--itemBubble-2--itemUnique {
  height: 40rem;
  padding: 7rem;
}
.article-1--itemBubble-2--itemUnique--leurre {
  height: 3rem;
  width: 3rem;
  background-color: rgb(255, 255, 255) !important;
  position: absolute;
  top: 19%;
  right: 34.7%;
  border-radius: 40rem;
  transform: scale3d(1, 1, 1) rotateX(2deg) rotateY(-32deg) rotateZ(0deg) translate3d(0px, 0px, 0px) skew(-30deg, 0deg);
}
.article-1--itemBubble-2--itemUnique--img {
  height: 30%;
}
.article-1--itemBubble-2--itemUnique--img img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}
.article-1--itemBubble-2--itemUnique--description {
  height: 70%;
}
.article-1--itemBubble-2--itemUnique--description input[type=number] {
  width: 30%;
}
.article-1--itemBubble-2--itemUnique--description--minus {
  color: red;
}
.article-2 {
  display: flex;
  justify-content: space-between;
}
.article-2--itemBubble-1 {
  border-radius: 40rem;
  height: 30rem;
  width: 30rem;
  background-color: rgb(197, 254, 251);
  box-shadow: 8px -2px 36px 1px rgba(0, 0, 0, 0.75) inset;
}
.article-2--itemBubble-1--itemUnique {
  height: 40rem;
  padding: 7rem;
}
.article-2--itemBubble-1--itemUnique--leurre {
  height: 3rem;
  width: 3rem;
  background-color: rgb(255, 255, 255) !important;
  position: absolute;
  top: 76%;
  left: 19%;
  border-radius: 40rem;
  transform: scale3d(1, 1, 1) rotateX(2deg) rotateY(-32deg) rotateZ(0deg) translate3d(0px, 0px, 0px) skew(-30deg, 0deg);
}
.article-2--itemBubble-1--itemUnique--img {
  height: 30%;
}
.article-2--itemBubble-1--itemUnique--img img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}
.article-2--itemBubble-1--itemUnique--description {
  height: 70%;
}
.article-2--itemBubble-1--itemUnique--description input[type=number] {
  width: 30%;
}
.article-2--itemBubble-1--itemUnique--description--minus {
  color: red;
}
.article-2--itemBubble-2 {
  border-radius: 40rem;
  height: 30rem;
  width: 30rem;
  background-color: rgb(197, 254, 251);
  box-shadow: 8px -2px 36px 1px rgba(0, 0, 0, 0.75) inset;
}
.article-2--itemBubble-2--itemUnique {
  height: 40rem;
  padding: 7rem;
}
.article-2--itemBubble-2--itemUnique--leurre {
  height: 3rem;
  width: 3rem;
  background-color: rgb(255, 255, 255) !important;
  position: absolute;
  top: 76%;
  right: 34.7%;
  border-radius: 40rem;
  transform: scale3d(1, 1, 1) rotateX(2deg) rotateY(-32deg) rotateZ(0deg) translate3d(0px, 0px, 0px) skew(-30deg, 0deg);
}
.article-2--itemBubble-2--itemUnique--img {
  height: 30%;
}
.article-2--itemBubble-2--itemUnique--img img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}
.article-2--itemBubble-2--itemUnique--description {
  height: 70%;
}
.article-2--itemBubble-2--itemUnique--description input[type=number] {
  width: 30%;
}
.article-2--itemBubble-2--itemUnique--description--minus {
  color: red;
}/*# sourceMappingURL=style.css.map */